.chat {
  display: flex;
  background-color: #1e1e1e;
}

.chatSidebar {
  flex: 1;
}

.chatBox {
  flex: 2.5;
  color: white;
  margin-left: 25px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 50%;
}

.chatMessageInput {
  width: 90%;
  height: 50px;
  padding: 10px;
  background-color: #5a5a5a;
  border-radius: 5px;
  color: white;
}

.chatSubmit {
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1b424;
}

.chatMenu {
  flex: 0.8;
  color: white;
}

.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuWrapper {
  padding: 10px;
  height: 100%;
  border-left: 1px solid gray;
}

.chatSidebarWrapper {
  height: 100%;
  background-color: #4b0928;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid gray;
  background-color: #1e1e1e;
  color: white;
}

.chatMenuInput:focus {
  outline: none;
}

.chatBoxTop {
  overflow: auto;
  max-height: 600px; /* Ajusta el valor según tus necesidades */
}

.chatBoxTop::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.chatBoxTop::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media screen and (max-width: 768px) {
  .chat {
    transform: scale(1);
    flex-direction: column;
    max-width: 100%;
    display: flex;
    container-type: inline-size;
  }
  .icon {
    padding-top: 9.4px;
    margin: 0;
    padding: 0;
  }
  .chatBox {
    transform: scale(1);
    flex-direction: column;
    max-width: 100%;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    order: 3;
    flex: 1;
  }
  .chatBoxTop {
    overflow: auto;
    max-height: 100%; /* Ajusta el valor según tus necesidades */
  }

  .chatSidebar {
    order: 2;
    flex: 1;
  }

  .chatBoxWrapper {
    padding: 20px;
    margin-bottom: 40px;
    border-color: #302e2e;
    display: block;
    height: 100vh;
    width: 100vw;;
  }

  .message.own {
    display: flex;
  }

  .chatMenu {
    order: 1;
    flex: 0;
    background-color: #1d1c1c;
  }

  .chatMenuWrapper {
    border-left: none;
    border-top: 1px solid gray;
    border-color: #5a5a5a;
    margin: 10px;
    height: 30px;
  }

  .chatSidebarWrapper {
    background-color: #1e1e1e;
  }
  .chatBoxBottom {
    margin-top: 5px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    background-color: #5a5a5a;
    z-index: 1;
  }
  .noConversationText {
    margin: 2px;
    font-size: 16px !important;
    margin-top: 30%;
  }
  .chatMenuInput {
    margin: 3px;
    position: relative;
    bottom: 0;
    z-index: 2;
    background-color: #302e2e;
  }
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }
  .butt {
    background-color: #4b0928;
    color: #fff;
    width: 320px;
    height: 40px;
  }
  .draw {
    background-color: #302e2e !important;
  }
}
